html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.tab {
    border-bottom: 1px solid var(--bs-border-color);
    margin: 0px 15px 0px 15px;
}

a.tab-active {
    color: var(--bs-link-color) !important;
}

a.tab-active:hover {
    color: var(--bs-link-hover-color) !important;
}

a.tab-inactive {
    color: var(--bs-nav-link-color) !important;
}

a.tab-inactive:hover {
    color: var(--bs-nav-link-hover-color) !important;
}

.calendar input {
    color: var(--bs-cyan) !important;
    font-weight:bold;
}

div.calendar{
    width: 280px;
}

.round {
    border-bottom-left-radius: 0px !important;
    -moz-border-radius-bottomleft: 0px !important;
    -webkit-border-bottom-left-radius: 0px !important;
    -moz-border-radius-topleft: 0px !important;
    -webkit-border-top-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}