<div class="container pt-3">
    <div class="row align-items-top">
        <div class="col-md-6">
            <ul class="list-unstyled float-end">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="text-decoration-none-footer">BabySleepWeb</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="text-decoration-none-footer">Contact</a>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="list-unstyled float-start">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-decoration-none-footer">Terms & Conditions</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-decoration-none-footer">Privacy Policy</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-decoration-none-footer">Cookie Policy</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-decoration-none-footer">Third Party Notices</a>
                </li>
            </ul>
        </div>
    </div>
    <p class="text-center copy-footer">&copy; 2023 - BabySleepWeb</p>
</div>