@using MyResources = BabySleep.Resources.Resx;

<ul class="nav navbar-nav navbar-right">
    @await Component.InvokeAsync("Language")
    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        @await Component.InvokeAsync("Children")
        <li class="nav-item active">
            <a asp-controller="Login" asp-action="Logout" class="nav-link">@MyResources.MenuResources.LogOut</a>
        </li>
        <li class="nav-item active">
            <button class="navbar-toggler " type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
        </li>
    }
    else
    {
        <li class="nav-item active">
            <a asp-controller="Login" asp-action="Login" class="nav-link">@MyResources.MenuResources.LogIn</a>
        </li>
    }
</ul>
