@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model BabySleepWeb.Pages.LoginModel
@{
    Layout = "_Layout";
}

<form method="post">
    <div class="text-center">
        <h2>Login</h2>
        <div asp-validation-summary="All"></div>

        <div class="mb-3">
            <input asp-for="InputLoginModel.Email" class="form-control" placeholder="Email" />
            <span asp-validation-for="InputLoginModel.Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <input asp-for="InputLoginModel.Password" class="form-control" placeholder="Password" type="password" />
            <span asp-validation-for="InputLoginModel.Password" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary"><i class="bi bi-box-arrow-in-right"></i> &nbsp; Login</button>
    </div>
</form>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
