@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<li class="nav-item active">
    <select class="selectpicker" data-style="btn-primary" asp-items=@Model data-width="fit" id="languages" >
    </select>
</li>
