@using BabySleep.Application.DTO
@using MyResources = BabySleep.Resources.Resx;
@model ChildSleepMainDto

@{
    ViewData["Title"] = @MyResources.GeneralResources.Sleeps;
}
<partial name="_SharedTabPartial" />

<div class="row justify-content-center align-items-center">
    <div class="row justify-content-center align-items-center calendar">
        <div class="input-group date align-items-center" id="datepicker">
            <img src="~/images/arrow_left_icon_blue.png" class="align-content-center" id="prev" />
            <input type="text" class="form-control text-center ">
            <div class="input-group-append">
            </div>
            <img src="~/images/arrow_right_icon_blue.png" class="align-content-center" id="next" />
        </div>
    </div>
</div>

<div id="sleepsInfo">
    <partial name="_Sleeps" model="Model" />
</div>

<form id="partialform" asp-controller="Sleep" asp-action="SleepEntry" data-ajax="true" data-ajax-method="POST" data-ajax-update="modalSleepEntry" data-ajax-mode="replace">
    <div class="modal fade" id="modalSleepEntry" aria-hidden="true">
        <partial name="_SleepEntry" model="new InputSleepModel()" />
    </div>
</form>

<link rel="stylesheet" href="~/css/sleepEntry.css" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script src="~/js/sleeps.js"></script>

<link rel="stylesheet" href="~/css/sleep.css" />
<link rel="stylesheet" href="~/css/sleepEntry.css" />